.headerContenedor{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.144);
}
.navegar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 5%;
}
.navegar ul{
    list-style: none;
    display: flex;
    gap: 40px;
}
.navegar ul li a{
    text-decoration: none;
    color: black;
    transition: all;
    transition-duration: 300ms;
    padding-bottom: 5px;
    border-bottom: 4px solid rgba(255, 0, 0, 0);
}
.navegar ul li a:hover{
    border-bottom: 3px solid red;
}
.logo{
    height: 90px;
}

